<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Project Manager Dashboard</h1>
        <h2>Available Modules:</h2>
        <ul>
            <li><a href="{{ url_for('directory_structure_routes.get_directory_structure_route') }}">Get Directory
                    Structure</a></li>
            <li><a href="{{ url_for('ollama_response_routes.ollama_response') }}">Interact with Ollama</a></li>
            <li><a href="{{ url_for('file_splitter_routes.file_splitter') }}">Split a File</a></li>

            <li><a href="{{ url_for('refactor_routes.refactor') }}">Refactor</a></li>
            <li><a href="{{ url_for('image_description_routes.image_description') }}">Generate Image Documentation</a>
            </li>

            <li><a href="{{ url_for('agent_summary_reconstruction_routes.agent_summary_reconstruction_code') }}">Agent
                    Summary and
                    Reconstruction</a></li>

            <li><a href="{{ url_for('project_documentation_routes.get_project_documentation') }}">Generate
                    Project
                    Documentation</a></li>
        </ul>
    </div>
</body>

</html>