<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Documentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Generate Project Documentation</h1>

        <form id="documentationForm" method="POST">
            <label for="project_path">Project Directory Path:</label>
            <input type="text" id="project_path" name="project_path" placeholder="e.g. /path/to/project" required>

            <label for="gpt_provider">GPT Provider:</label>
            <select id="gpt_provider" name="gpt_provider" required onchange="toggleModelDropdown()">
                <option value="gemini">Gemini</option>
                <option value="ollama">Ollama</option>
            </select>


            <div id="modelSelection" style="display: none;">
                <label for="model">Model:</label>
                <select id="model" name="model">
                    {% for model in models %}
                    <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="checkbox" id="useCache" name="useCache" checked>
                Use cache
            </div>
            <button type="submit" id="generateDocumentationButton">Generate Documentation</button>
        </form>

        <!-- Documentation Content Section -->
        <div id="documentationContent" style="display: none;">
            <h2>Generated Documentation:</h2>
            <div id="documentationOutput">
                <!-- Streamed content will be added here -->
            </div>
        </div>

        <!-- Loading Overlay -->
        <div class="loading-overlay" id="loadingOverlay">
            <div id="loading">Generation...</div>
        </div>
        <br>
        <a href="{{ url_for('home_routes.home') }}" style="text-align: center; display: block;">Back to Dashboard</a>
    </div>

    <script>
        // Remember the previously entered values for project_path, gpt_provider, and model
        window.addEventListener('DOMContentLoaded', function () {
            // Load the remembered values from localStorage if available
            const savedProjectPath = localStorage.getItem('project_path');
            const savedGptProvider = localStorage.getItem('gpt_provider');
            const savedModel = localStorage.getItem('model');

            if (savedProjectPath) {
                document.getElementById('project_path').value = savedProjectPath;
            }

            if (savedGptProvider) {
                document.getElementById('gpt_provider').value = savedGptProvider;
                // To show/hide model dropdown based on the provider
            }

            if (savedModel) {
                document.getElementById('model').value = savedModel;
            }
            toggleModelDropdown();
        });

        // Display loading overlay and handle form submission
        document.getElementById('documentationForm').addEventListener('submit', function (event) {
            event.preventDefault();

            // Save the form values to localStorage
            localStorage.setItem('project_path', document.getElementById('project_path').value);
            localStorage.setItem('gpt_provider', document.getElementById('gpt_provider').value);
            localStorage.setItem('model', document.getElementById('model').value);

            document.getElementById('loadingOverlay').style.display = 'flex';
            document.getElementById('documentationOutput').innerHTML = '';

            // Fetch streaming data from the server
            console.log('this.action: ', this);
            fetch(this.action, {
                method: 'POST',
                body: new FormData(this),
            })
                .then(response => {
                    // Ensure response body can be read as text for streaming
                    const reader = response.body.getReader();
                    const decoder = new TextDecoder("utf-8");

                    // Function to process each chunk of streamed data
                    function readStream() {
                        return reader.read().then(({ done, value }) => {
                            if (done) {
                                document.getElementById('loadingOverlay').style.display = 'none';
                                return
                            }

                            document.getElementById('documentationContent').style.display = 'block';

                            document.getElementById('loadingOverlay').style.display = 'none';

                            // Append each streamed chunk to the documentation output
                            const chunk = decoder.decode(value, { stream: true });
                            const div = document.createElement('div');  // Create a new div for each chunk
                            div.classList.add('markdown-content');  // Add a class for styling (optional)
                            div.innerHTML = chunk;  // Set the chunk content
                            // Append the div containing the chunk to the markdown content
                            document.getElementById('documentationOutput').appendChild(div);
                            document.getElementById('loadingOverlay').style.display = 'flex';
                            document.getElementById('loadingOverlay').scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
                            return readStream();
                        });
                    }
                    return readStream();
                })
                .catch(error => {
                    document.getElementById('documentationOutput').innerHTML = `<p>Error: ${error.message}</p>`;
                    document.getElementById('loadingOverlay').style.display = 'none';
                });
        });

        function toggleModelDropdown() {
            const provider = document.getElementById('gpt_provider').value;
            document.getElementById('modelSelection').style.display = provider === 'ollama' ? 'block' : 'none';
        }
    </script>
</body>

</html>