<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Folder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Upload a Folder</h1>
        <form id="uploadForm" method="POST" enctype="multipart/form-data"
            action="{{ url_for('receive_files_routes.upload_folder') }}">
            <label for="files">Select folder to upload:</label>
            <input type="file" id="files" name="files[]" webkitdirectory directory multiple required>
            <button type="submit">Upload</button>
        </form>

        {% if message %}
        <div class="message">
            <p>{{ message }}</p>
        </div>
        {% endif %}

        <br>
        <a href="{{ url_for('home_routes.home') }}">Back to Dashboard</a>
    </div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = new FormData(this);
            const submitButton = this.querySelector('button[type="submit"]');

            // Obter todos os arquivos
            const files = document.getElementById('files').files;

            submitButton.disabled = true;

            // Enviar os dados
            fetch(this.action, {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    const messageDiv = document.createElement('div');
                    messageDiv.className = 'message';
                    if (data.error) {
                        messageDiv.innerHTML = `<p style="color: red;">Error: ${data.error}</p>`;
                    } else {
                        messageDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
                    }
                    this.insertAdjacentElement('beforebegin', messageDiv);
                })
                .catch(error => {
                    console.error('Error:', error);
                })
                .finally(() => {
                    submitButton.disabled = false;
                });
        });
    </script>

</body>

</html>