/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;

}

h1,
h2,
h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #2c3e50;
}

h2 {
    font-size: 1.8em;
    margin: 20px 0;
    color: #34495e;
}

/* Container for centering content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form Styles */
form {
    background-color: #fff;
    border: 1px solid #dfe6e9;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #2d3436;
}

/* Input and Textarea Styles */
textarea,
select,
input[type="text"],
button {
    width: 99%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #dfe6e9;
    border-radius: 6px;
    font-size: 1em;
    background-color: #f9f9f9;
}

textarea {
    resize: vertical;
    width: calc(100% - 20px);
    /* Allows users to resize the textarea vertically */
    min-height: 120px;
    /* Ensure the textarea starts at a reasonable height */
}

/* Select Styles */
select {
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%233498db' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    cursor: pointer;
}

select:focus {
    border-color: #3498db;
    outline: none;
}

/* Button Styles */
button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Preformatted Text Styles */
pre {
    background-color: #f4f4f9;
    border: 1px solid #dfe6e9;
    padding: 15px;
    overflow-x: auto;
    border-radius: 6px;
    white-space: pre-wrap;
    /* Allows long lines to break and wrap */
}

/* Add this to your existing CSS file for a simple loading spinner */
#loading::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 3px solid #3498db;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

.loading-overlay {
    display: none;
    /* Hidden initially */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #333;
}


/* Markdown Content Styling */
.markdown-content {
    background-color: #f9f9f9;
    border: 1px solid #dfe6e9;
    margin-top: 20px;
    padding: 20px;
    border-radius: 6px;
    overflow-x: auto;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
    color: #333;
}

.markdown-content pre {
    background-color: #f4f4f9;
    padding: 15px;
    border-radius: 6px;
    overflow-x: auto;
}



.markdown-content code {
    background-color: #e8e8e8;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #3498db;
    color: #ffffff;
    text-align: left;
}

thead th {
    padding: 12px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #dfe6e9;
}

tbody tr:nth-of-type(even) {
    background-color: #f4f4f9;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3498db;
}

tbody td {
    padding: 12px 15px;
    color: #2c3e50;
    vertical-align: top;
    text-align: left;
}

/* Spinner animation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    textarea,
    select,
    input[type="text"],
    button {
        font-size: 0.9em;
    }

    button {
        padding: 12px;
    }
}

/* Responsive Table */
@media (max-width: 768px) {
    table {
        font-size: 0.9em;
    }

    thead th {
        font-size: 0.85em;
    }

    tbody td {
        font-size: 0.85em;
    }
}